<%# <h1>Title:</h1> %>
<%# <h1><%= @result[:title] </h1>%>
<div class="all-result-page">
  <section class="banner-result">
    <%= image_tag("https://image.tmdb.org/t/p/original#{@result[:backdrop]}", alt: @result[:title]) %>
  </section>

  <section class="poster-result">
    <%# <img src="https://grandillusioncinema.org/wp-content/uploads/2025/01/uncleboonmee_hires.jpg" alt=""> %>
    <%= image_tag("https://image.tmdb.org/t/p/original#{@result[:poster]}", alt: @result[:title]) %>
  </section>

  <section class="result-container">

    <section class="top-infos-result">
      <h5><%= @result[:title] %></h5>
      <div class="under-title">
        <p class="date-release"><%= @result[:date_released] %></p>
        <% if @result[:trailer].present? %>
          <%= link_to 'TRAILER', "https://www.youtube.com/watch?v=#{@result[:trailer]}", class: 'trailer-show', target: '_blank' %>
        <% end %>
      </div>
    </section>

    <section class="streaming-links-result">
      <div class="streaming-container-result">
        <h5>This movie is available on:</h5>
        <div class="logo-display">
          <% if @result[:streaming_providers].present? %>
            <% @result[:streaming_providers].map do |flatrate| %>
              <%= image_tag("https://www.themoviedb.org/t/p/w500#{flatrate["logo_path"]}", alt: "#{flatrate["provider_name"]} logo", class: "logo-result-links") %>
            <% end %>
          <% else %>
            <p style="text-align: center; font-size: 1em;"><strong>Sorry, this movie is not available on any streaming platform in your country.</strong></p>
          <% end %>
        </div>
      </div>
    </section>

    <section class="synopsis-result">
      <p style="text-align: center;" class="mb-3">
        <strong>Synopsis:</strong>
      </p>
      <p>
        <%= @result[:synopsis] %>
      </p>
    </section>

  </section>
</div>
