<!DOCTYPE html>
<html>
  <head>
    <title>Filmdash | Your cinematic journey !</title>

    <meta name="description" content="Discover movies and TV shows across streaming platforms in your country. Filmdash helps you find what to watch instantly by filtering content availability based on your subscriptions and location.">

    <!-- Open Graph tags -->
    <meta property="og:title" content="Filmdash | Your cinematic journey !">
    <meta property="og:description" content="Find movies and TV shows available on your streaming platforms. Discover content across Netflix, Hulu, Amazon Prime, and more, tailored to your country.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.filmdash.online/">
    <meta property="og:image" content="https://www.filmdash.online/main-icon.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <!-- Twitter Card Tags -->

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Filmdash | Your cinematic journey !">
    <meta name="twitter:description" content="Find movies and TV shows available on your streaming platforms. Discover content across Netflix, Hulu, Amazon Prime, and more, tailored to your country.">
    <meta name="twitter:site" content="@filmdash">

    <!-- Additional Recommended Meta Tags -->

    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Language" content="en">
    <link rel="canonical" href="https://www.filmdash.online">

    <!-- Android/PWA Icons -->

    <link rel="icon" type="image/png" sizes="192x192" href="/assets/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/assets/android-chrome-512x512.png">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= render 'shared/ios_pwa_links' %>
  </head>
  <body>
    <div class="tmdb-logo"></div>
    <%= render "shared/flashes" %>
      <%= yield %>
    <%= render "shared/menubar" %>
  </body>
</html>
